---
import DialogueBox from "../components/ui/DialogueBox";
import HeadquartersMap from "../components/ui/HeadquartersMap";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portofolio Rel - Suikoden">
  <div class="relative min-h-[80vh] pb-40">
    <div class="flex items-center justify-center">
      <HeadquartersMap client:load />
    </div>

    <div class="pointer-events-none fixed inset-x-0 bottom-6 z-10 flex justify-center px-4">
      <div class="pointer-events-auto w-full max-w-4xl">
        <DialogueBox
          client:load
          speakerName="Tenkai Star"
          text="Welcome to the Headquarters. The Tenkai Star has been waiting for you..."
        />
      </div>
    </div>
  </div>
</Layout>
